<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Movies API</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container-fluid collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api/movies/docs">Docs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/auth/loginpage">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About Developer<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <br>
                <br>
                <h1>About Developer</h1>
                <br>
                <br>
                <br>
                <div class="card">
                    <div class="card-body">

                        <p>Hi! I am Shrey Sharma and like to solve problem and puzzles. I aim to enhance my skills at
                            coding and apply what I know.</p>
                        <p>I have learnt computer science and fullstack development through online courses
                            and projects.</p>
                        <p>Some of the courses I have done:</p>
                        <!--list of three with title and muted text -->
                        <ul class="list-group">
                            <li class="list-group-item">
                                <h5>
                                    <a
                                        href="https://www.freecodecamp.org/certification/Shrey1098/back-end-development-and-apis">
                                        Back End development and APIs
                                    </a>
                                </h5>
                                <p class="text-muted">
                                    This course is a great way to learn backend development with NODE.JS and Express.
                                    Has 5 projects including microservices and a full app as well.
                                </p>
                            </li>
                            <li class="list-group-item">
                                <h5>
                                    <a href="https://courses.edx.org/certificates/a13b3a78b3ee4c7687fdedcc628575b2">
                                        CS50x: CS50's Introduction to Computer Science
                                    </a>
                                </h5>
                                <p class="text-muted">
                                    This course conducted by Haravard University is a great way to learn computer
                                    science. Includes C language, Python, SQL, HTML, CSS, Javascript, and more.
                                    Datastructures and algorithms, and flask rfamework as well. Each topic has 3 project
                                    and one final project at the end of the course.
                                </p>
                            </li>
                            <li class="list-group-item">
                                <h5>
                                    <a href="https://courses.edx.org/certificates/649f924942564c8094af505d8acb6217">
                                        PH125.2x: Data Science: Visualization
                                    </a>
                                </h5>
                                <p class="text-muted">
                                    This course conducted by Harvard University is a great way to learn data science
                                    with R language. The course makorly focuses on data Visualization.
                                </p>
                            </li>

                        </ul>
                        <br>
                        <br>
                        <br>
                        <!-- name, email and github link-->
                        <p>
                            <strong>Email:</strong> <a href="mailto:shrey1098@hotmail.com">shrey1098@hotmail.com</a>
                        </p>
                        <p>
                            <strong>Github:</strong> <a href="https://github.com/shrey1098"
                                target="_blank">shrey1098</a>
                        </p>
                        <p>
                            <strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/shrey-sharma-163626147/"
                                target="_blank">Shrey Sharma</a>
                        </p>
                        </p>
                    </div>
                </div>
                <!-- end of card -->
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
        </script>

    <br>
    </div>
    </div>
    </div>

</body>

</html>